
/* HEADER */
.navbar{
    box-shadow: 0px 2px 2px red;
}
	
/* NAVBAR COLOR*/
.bg-light{
    background: red !important;
}

/* LOGO STYLE*/
.navbar-light .navbar-brand {
    color: black;
    font-size:20px
}

/*HOME, MOVIES,TV SHOWS,LOGIN STYLE*/   
.navbar-light .navbar-nav .nav-link {
    color: black; 
    font-size:15px
}

/* Why does the text move? */
.navbar-light .navbar-nav .nav-link:hover {
    color: white; 
    font-weight:bold;
}

/*SEARCH STYLE*/
.btn-outline-success {
    color: black;
    background-color: transparent;
    background-image: none;
    border-color: black;
}

.btn-outline-success:hover {
    color: white;
    background-color: black;
    background-image: none;
    border-color: black;
}

#login a{
    color: black; 
    font-size:15px; 
    padding-left:5px; 
    text-weight:normal;
}

#login a:hover {
    color: white; 
    font-weight:bold; 
    text-decoration:none;
}

/*HOME.PHP */
.start-button{
    position: absolute;
    top: 40%;
    left: 20%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: black;
    color: white;
    font-size: 16px;
    padding: 20px;
    cursor: pointer;
    text-align: center;
    border-radius: 15px;
}

.start-button:hover {
    background-color: white;
    color:black;
    background-image: none;
    border-color: white;
	border-radius: 15px;
    padding:20px;
	text-decoration:none;
}

  .view-button  {
    background-color: red;
    border: none;
    color: black;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
	border-radius: 8x;
}

.view-button:hover{
    background-color: black;
    text-align: center;
    padding: 10px;
    border-radius:5px;
    color: black;
    text-decoration:none;
    border-radius: 8px;}

/* FOOTER */

.footer {
    overflow: hidden;
    background-color: black;
    color:white;
    position: relative;
    top:0;
}

.footer p {
    margin-top: 10px;
    text-align: left;
    float: left;
    margin-left: 30px;
    color:white;
}

.col-xs-4{
  position: relative;
  text-align:center;
 }

.socialmedia-icons {
    text-align: center;
    text-decoration: none;
    position: inline-block;
}

.icons{
    width: 3rem;
    height: 3rem;  
}

/* MOVIES.PHP */
/* MOVIES GALLEY*/
.movies-main{
    margin: 50px 20px 0px 20px;
}	

.image-box {
    font-family:sans-serif;
    width: 100%;
    margin: 20px;
	overflow:hidden;
	max-width:300px;
	max-height:370px;
	position: relative;
}

#row1{
    padding-bottom:30px;
}

img{
    opacity: 1;
    display: block;
    width:100%;
    height: auto;
    transition: .5s ease;
    border-radius:10px;
}

.content{ 
    width:150px;          
    position: absolute;
    top:45%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-transform: none;
    font-size: 30px;
    color:white;
    white-space: nowrap;
    overflow: hidden;
    opacity:1;
}

.content a{
    font-size: 20px;
    display: block;
    background-color: red;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    border-radius:5px;
    color: black;
    opacity:1;
}

.content a:hover{ 
    text-decoration:none;
    background:black;
    color: white!important;
}

.overlay{
    opacity: 0
}

.image-box:hover img{opacity: 0.5}
.image-box:hover .overlay{opacity: 1}

/* MOVIE_VIEW_PAGE.PHP */
/* MOvie cover background */
.col-12 {padding-left:0px; padding-right:0px;}

.movie-cover-fightclub {
    height: 92vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.movie-cover-shadows {
    background-image: url("../images/shadows-cover.jpg");
    height: 92vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#movie_view_title{
    position: absolute;
    top: 80%;
    left: 5%;
    font-size: 50px;
    color: white;
    text-align: left;
}

#movie_view_subtext{
  position: absolute;
  top: 90%;
  left: 5%;
  font-size: 20px;
  color: white;
  text-align: left;
}

.movie-info-title{
    margin-left:20px;
    color:white;  
    font-weight: 100;
}

.menu-title{
    background-color:#1f1f21;
    height:50px;
    border-radius:5px;
}

.fighclub-carousel{
    width:100%;
    height:200px;
    margin-right:
    400px; 
}

.item{
    background:;
    width:100%;
    height:200px;
}

.img-f{
    width:100%;
    height:200px;
}

table {
    margin-right:30px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%; 
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {background-color: white;}
 
.justify-content-center{background:black; height:auto;}
.justify-content-center .nav-link a:{padding:30px;}
.justify-content-center .nav-link{color:white;}
.justify-content-center .nav-item:hover {background:black; font-weight:bold; }
.justify-content-center .nav-link:hover{color:white;}
.fa-user {width: 24px !important; height: 24px !important;}

/* list */
.list-group {
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    margin-bottom: 0;
}

@media only screen and (max-width: 768px) {
  .list-group  {
    padding: 0px 50px;
}
  iframe {
    width:auto;
}
  #trailer-title{
    margin-left:50px;
  }
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: black !important;
    border-color: black;
}
/* LOGIN.PHP */
.login-section .register-section{
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(../images/cinema.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
	
.login-box .register-box{
    width: 320px;
    height: 420px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    position: relative;
    box-sizing: border-box;
    padding: 70px 30px;
	border:solid white 1px;
	border-radius:10px;
}  

h1{
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.login-box p{
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
}

.login-box input[type="text"], input[type="password"], input[type="email"]
{
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
    height: 40px;
    color: #fff;
    font-size: 16px;
}

.login-box input[type="submit"]{
    border: none;
    outline: none;
    height: 40px;
    background: red;
    color: #fff;
    font-size: 18px;
    border-radius: 10px;
}

.login-box input[type="submit"]:hover{
    cursor: pointer;
    background: white;
    color: black;
}

.login-box a{
    text-decoration: none;
    font-size: 14px;
    color: #fff;
}

.login-box a:hover{
    color: red;
}

.info{
    margin:20px 0px
}
.dropdown-menu-right{
    right: 0; 
    left: auto;
}

#directors_list {
	max-height: 100px;
	overflow-y: scroll;
}

#livesearch {
    border: 1px solid rgb(165, 172, 178);
    color: black;
    background-color: white;
    border-radius:5px;
    position: relative;
}

#livesearch a{
     text-decoration: none; 
     color:black;}

@media only screen and (max-device-width: 1000px)
{ #livesearch {
  top: 345px;
  width:100px;
	}}

.image-box{
    padding:5px;
}
 